<footer class="footer">
    <div class="footer__inner">
        <div class="container-xl">
            <div class="footer__top">
                <div class="footer__left">
                    <a class="logo" href="#">
                        <span class="logo__text">AVIA TICKET</span>
                        <span class="logo__sub-text">СЕРВИС ДЛЯ ПОИСКА АВИАБИЛЕТОВ</span>
                    </a>
                    <div class="socials">
                        <div class="socials__wrapper-links">
                            <a href="#" class="socials__link"><img src="img/telegram.svg" alt="tg"></a>
                            <a href="#" class="socials__link"><img src="img/whatsapp.svg" alt="whatsapp"></a>
                        </div>
                        <div class="socials__text">Нажмите, что-бы<br>связаться с нами в месенджерах</div>
                    </div>
                </div>
                <div class="footer__right">
                    <div class="contact">
                        <a href="tel:+996(544)-86-32" class="contact__phone-number">+996 (544)-86-32</a>
                        <div class="contact__text">На связи с Вами 24 часа</div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <span class="copy-text">©AVIA TICKET 2020</span>
                <span class="rights-text">Все права защищены</span>
                <span class="policy-text">Политика конфедициальности</span>
            </div>
        </div>
    </div>
</footer>