<header class="header">
    <div class="container-xl">
        <a class="logo" href="#">
            <span class="logo__text">AVIA TICKET</span>
            <span class="logo__sub-text">СЕРВИС ДЛЯ ПОИСКА АВИАБИЛЕТОВ</span>
        </a>
        <div class="socials">
            <div class="socials__text">Нажмите, что-бы<br>связаться с нами в месенджерах</div>
            <div class="socials__wrapper-links">
                <a href="#" class="socials__link"><img src="img/telegram.svg" alt="tg"></a>
                <a href="#" class="socials__link"><img src="img/whatsapp.svg" alt="whatsapp"></a>
            </div>
        </div>
        <div class="contact">
            <a href="tel:+996(544)-86-32" class="contact__phone-number"></a>
            <div class="contact__text">На связи с Вами 24 часа</div>
        </div>
        <select name="select">
            <option value="ru" selected>ru</option>
            <option value="en">eng</option>
            <option value="uzb">uzb</option>
        </select>
        <div class="sign-in">
            <img class="sign-in__img" src="img/user_icon.svg" alt="user icon">
            <span class="sign-in__text">Войти</span>
        </div>
    </div>
</header>